{% extends 'base.html' %}
{% load static %}
{% block meta %}<script src="{% static 'javascript/create_deck.js' %}" defer></script>{% endblock meta %}
{% block content %}
<div class="add-button" id="deck-button">
    <form id="deck-button-form">
        <p>Deck Title:
            <input id="deck-title" type="text" required>
        </p>
        <p>Deck Description(optional):
            <input id="deck-description" type="text">
        </p>
        <button type="submit">Create Deck</button>
    </form>
</div>

<div id="add-card" class="hidden">
    <form>
        <p>Question:
            <input id="question-input" type="text" required>
        </p>
        <p>Answer:
            <input id="answer-input" type="text" required>
        </p>
        <button id="add-card-button" type="button">Add Card</button>
    </form>
</div>

<div id="cards-div">

</div>
{% endblock content %}