{% extends 'base.html' %}
{% block content %}
<header class="header">
    <div class="title">
        <h1>Flashcards</h1>
    </div>
    <div class="login-logout-div">
        <p class="login-logout"><a  href="http://127.0.0.1:8000/accounts/logout/">logout</a></p>
        <p class="login-logout"><a href="http://127.0.0.1:8000/accounts/login/">login</a></p>
        <p class="login-logout"><a href="http://127.0.0.1:8000/accounts/register/">register</a></p>
    </div>
</header>
<main>
    <button class="flashcard-button">Add a flashcard</button>
    {% for deck in decks %}
    <div class="deck">
        <p>{{deck.title}}</p>
        <p>{{deck.description}}</p>
    </div>
    {% endfor %}
</main>
{% endblock content %}