* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-logout {
    float: right;
    display: inline;
}

.flashcard-button {
    border: solid 2px;
    width: 150px;
    height: 150px;
}

.header {
    background-color: red;
}