* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    display: flexbox;
}

.login-logout-div {
    display: flexbox;
    text-align: right;
}

.login-logout {
    display: inline-block;
}

.add-button {
    border: solid 2px;
    width: 350px;
    height: 200px;
    margin: 5px;
    background-color: lightblue;
}

.deck {
    border: solid 2px;
    width: 350px;
    height: 200px;
    margin: 5px;
}

.header {
    background-color: lightblue;
    width: 100%;
    border-bottom: solid 2px;
}

.hidden {
    visibility: hidden;
}