* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    display: flexbox;
}

.login-logout-div {
    display: flexbox;
    text-align: right;
}

.login-logout {
    display: inline-block;
}

.deck-button {
    border: solid 2px;
    width: 350px;
    height: 200px;
}

.deck {
    border: solid 2px;
    margin: 5px;
}

.header {
    background-color: lightblue;
    width: 100%;
}

.color {
    color: blue;
}